<h1>Create a new Jeopardy game</h1>

<!-- no code -->
<form id="newGameForm">
  {{!-- Start Game Name Section --}}
  <div class="row">
    <div class="col mb-3">
      <div class="input-group">
        <span for="gameName" class="bg-primary-subtle border border-primary-subtle input-group-text">Game Name</span>
        <input type="text" class="form-control" id="gameName" name="gameName" required value="DEMO_{{renderTime}}"/>
      </div>
    </div>
  </div>
  {{!-- End Game Name Section --}}

  {{!-- Start Players Section --}}
  <div class="row playerSection">
    {{#times 3}}
      {{> addNewPlayer}}
    {{/times}}
  </div>
  <div id="addNewPlayer" class="btn bg-primary-subtle border border-primary-subtle">Add Player</div>
  <br><br>
  {{!-- End Players Section --}}

  {{!-- Start Category Section --}}
  <div class="accordion" id="categoryAccordian">
    {{#times 25}}
    {{#if @displayCategory}}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{@categoryNum}}" aria-expanded="false" aria-controls="collapse{{@categoryNum}}">
          Category #{{@categoryNum}}
        </button>
      </h2>
      <div id="collapse{{@categoryNum}}" class="accordion-collapse collapse" data-bs-parent="#categoryAccordian">
        <div class="accordion-body">
          <div class="col-12 mb-3">
            <div class="input-group">
              <span for="category{{@categoryNum}}Name" class="bg-primary-subtle border border-primary-subtle input-group-text">Category {{@categoryNum}} Name</span>
              <input type="text" class="form-control" id="category{{@categoryNum}}Name" name="category{{@categoryNum}}Name" required value="DEMOCAT_{{@categoryNum}}"/>
            </div>
          </div>
          {{/if}}
          {{!-- Start Clue Section --}}
          <div class="row">
            <div class="col mb-3">
              <div class="input-group">
                <span for="cat{{@categoryNum}}clueQ{{@clueNum}}" class="bg-primary-subtle border border-primary-subtle input-group-text">Clue Question {{@clueNum}} Name</span>
                <input type="text" class="form-control" id="cat{{@categoryNum}}clueQ{{@clueNum}}" name="cat{{@categoryNum}}clueQ{{@clueNum}}" required value="DEMOCQ_{{@clueNum}}"/>
              </div>
            </div>
            <div class="col mb-3">
              <div class="input-group">
                <span for="cat{{@categoryNum}}clueA{{@clueNum}}" class="bg-primary-subtle border border-primary-subtle input-group-text">Clue Answer {{@clueNum}} Name</span>
                <input type="text" class="form-control" id="cat{{@categoryNum}}clueA{{@clueNum}}" name="cat{{@categoryNum}}clueA{{@clueNum}}" required value="DEMOCA_{{@clueNum}}"/>
              </div>
            </div>
            <div class="col-2 mb-3">
              <div class="input-group">
                <span for="cat{{@categoryNum}}clueV{{@clueNum}}" class="bg-primary-subtle border border-primary-subtle input-group-text">Clue {{@clueNum}} Value</span>
                <input type="number" class="form-control" id="cat{{@categoryNum}}clueV{{@clueNum}}" name="cat{{@categoryNum}}clueV{{@clueNum}}" value="{{@clueVal}}" required />
              </div>
            </div>
          </div> <!-- End Clue Row -->
          {{!-- End Clue Section --}}
          {{#if @endDisplayCategory}}
        </div> <!-- End Accoridan Body -->
      </div> <!-- End Accoridan Collapse -->
    </div> <!-- End Accoridan Item -->
      {{/if}}
    {{/times}}
  </div> <!-- End Accoridan -->
  {{!-- End Category Section --}}
  <br><br>
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<script language="javascript" src="/javascripts/game.js" data-addHtml="{{addNewPlayerHTML}}" id="newGameScript"></script>