{{!-- {{gameString}} --}}
<h1>{{game.name}}</h1>
<div class="row sticky-top">
  {{#each game.players}}
  <dir class="col card fs-3 text-warning">
    <div class="card-body bg-primary text-center scoreboardName">
      {{this.name}}
    </div>
    <div class="card-body bg-primary text-center scoreboardScore" id="{{this.name}}_score">
      ${{this.score}}
    </div>
  </dir>
  {{/each}}
</div>

<div class="display-4 p-3 text-center">Game Categories</div>
<table class="table table-light table-bordered gameBoard">
  <thead>
    <tr class="text-center">
      {{#each game.Categories}}
      <th scope="col">
        <div class="card fs-3 text-warning">
          <div class="card-body bg-primary text-center categoryName" id="{{this.name}}">
            {{this.name}}
          </div>
        </div>
      </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each game.valObj}}
    <tr>
      {{#each this}}
      <td>
        <div class="card fs-3 text-warning bg-primary">
          <div class="card-body bg-primary text-center clueCard" id="{{this.id}}_{{this.categoryId}}_card" data-bs-toggle="modal" data-bs-target="#{{this.id}}_{{this.categoryId}}_modal" id="{{this.id}}_{{this.categoryId}}_value" {{#if this.revealed}}style="visibility: hidden;"{{/if}}>
            <div class="showValue" id="{{this.id}}_{{this.categoryId}}_value">${{this.value}}</div>
          </div>
        </div>
      </td>
      <!-- Modal -->
      <div class="modal fade" id="{{this.id}}_{{this.categoryId}}_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{this.id}}_{{this.categoryId}}Label" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content bg-primary">
            <div class="modal-body vh-100 align-content-center">
              <div class="clueQuestion display-1 text-warning text-center" id="{{this.id}}_{{this.categoryId}}_question">
                {{this.question}}
              </div>
              <div class="clueAnswer display-1 text-warning text-center" id="{{this.id}}_{{this.categoryId}}_answer" style="display:none;">
                <div>
                  Answer: <br>{{this.answer}}
                </div>
                <br><br>
                <div class="row" data-pointValue="{{this.value}}" data-gameId="{{../../game.id}}" data-cardId="{{this.id}}">
                  <div class="col-12">
                    Who got it correct...
                  </div>
                  {{#each ../../game.players}}
                    <div class="col card m-3 display-6 awardPlayer" data-player="{{this.name}}">
                      {{this.name}}
                    </div>
                  {{/each}}
                  <div class="col card m-3 display-6 awardPlayer">
                    Nobody
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="revealAnswer btn btn-primary" id="{{this.id}}_{{this.categoryId}}_reveal">Reveal Answer</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="{{this.id}}_close">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      {{/each}} <!-- End Clues -->
    </tr>
    {{/each}} <!-- End Category -->
  </tbody>
</table>
<script language="javascript" src="/javascripts/playGame.js"></script>