<div class="row" style="margin: auto">
  {{#each games}}
  <div class="col-3 g-2" data-gamecardid="{{this.id}}">
    <div class="card">
      <div class="card-body">
        <div>Game Name: {{this.name}}</div>
      </div>
      <div class="card-footer d-flex justify-content-evenly">
        <div class="col">
          <a href="/games/play?id={{this.id}}" class="href link-underline link-underline-opacity-0">
            <button class="getGame btn bg-success-subtle border-success col">Play <i class="bi bi-play"></i></button>
          </a>
        </div>
        <div class="col">
          <button class="resetGame btn bg-warning-subtle border-warning col" data-resetid="{{this.id}}">Reset <i class="bi bi-arrow-repeat"></i></button>
        </div>
        <div class="col">
          <button class="deleteGame btn bg-danger-subtle border border-danger" type="button" data-deleteid="{{this.id}}">Delete <i class="bi bi-recycle" style="color: red;"></i></button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<script language="javascript" src="/javascripts/showGame.js"></script>